.body{
    
    width:100%;
    
    
    
    
}
.ana{
    color:black;
    font-size: large;
    float: left;
}

.ana:hover{
    color:white;
    text-decoration:none
}
.genel{
    display: inline;
    
}
.subtitle1{
    
    color:black;
    font-size: large;
    float: left;
}
.subtitle1:hover{
    color:white;
    text-decoration:none
}


.icon{
    
    float: left;
    
}
.icon:hover{
    color:white;
}

.title{
    float:left;
    font-size:xx-large;
    
}
.title:hover{
    color:white;
}

.alttitle{
    color:black;
    font-size: large;
    float: left;

}
