.body{
    
    width:100%;
    
    
    
    
}
.ana2{
    color:white;
    font-size: large;
    float: left;
}

.ana2:hover{
    color:black;
    text-decoration:none
}
.genel{
    display: inline;
    
}
.subtitle1{
    
    color:white;
    font-size: large;
    float: left;
}
.subtitle1:hover{
    color:black;
    text-decoration:none;
}


.title{
    float:left;
    font-size:xx-large;
    
}


.alttitle{
    color:white;
    font-size: large;
    float: left;

}
