.body{
    
    width:100%;
    
    
    
    
}
.ana2{
    color:white;
    font-size: large;
    float: left;
}

.ana2:hover{
    color:black;
    text-decoration:none
}
.genel{
    display: inline;
    
}
.subtitle1{
    
    color:white;
    font-size: large;
    float: left;
}
.subtitle1:hover{
    color:black;
    text-decoration:none;
}


.title{
    float:left;
    font-size:xx-large;
    
}


.alttitle{
    color:white;
    font-size: large;
    float: left;

}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {

    .ana2,.alttitle,.subtitle1{
        font-size: medium !important;
    }
    .title{
        font-size: large !important;
    
    }

}