.card_int{
    padding-bottom: 1%;
  }
  .card_int:hover{
     
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);
  
          opacity: 1;
          transition: .5s ease;
          backface-visibility: hidden;
         
        
  }
  
  .h_title{
    
    color:black;
    font-size: x-large;
  }
  .h_title:hover{
    text-decoration: none;
    color:#A4203A;
  }
  
  .an{
      color:darkblue;
      font-size: medium;
  }

  .an:hover{
    text-decoration:none;
    color:#A4203A;
  }