.body{
    
    width:100%;
    
    
    
    
}
.ana1{
    color:white;
    font-size: large;
    float: left;
}

.ana1:hover{
    color:black;
    text-decoration:none;
}
.genel{
    display: inline;
    
}
.subtitle{
    
    font-size: large;
    color:white;
    float:left;
}


.title{
    float:left;
    font-size:xx-large;
    color:white;
    
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {

    .ana1,.subtitle{
        font-size: medium;
    }
    .title{
        font-size: large !important;
    
    }

}

