.hakkimizda{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    height: 100vh;
  }

  .hakkimizda textarea{
    background-color: #333;
    color: white;
  }