.body{
    
    width:100%;
    
    
    
    
}
.ana{
    color:black;
    font-size: large;
    float: left;
}

.ana:hover{
    color:white;
    text-decoration:none
}
.genel{
    display: inline;
    
}
.subtitle{
    
    font-size: large;
    color:black;
    float:left;
}


.title{
    float:left;
    font-size:xx-large;
    
}


