.blog {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  height: 100vh;
}
.blog textarea {
  background-color: #333;
  color: white;
}

.blog-pop {
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  height: 100vh;
  overflow-y: scroll;
  color: white;
}
